  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
	
}
.header {
    background-color: #ff5722;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}
		
		
h2 #userName {
    font-size: 1.3rem;
	font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}


	.category {
    margin-top: 0.5em;
	text-align: center;
    }

     .product {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

.container{
	
}


.unavailable-image {
  filter: grayscale(0) sepia(100%) hue-rotate(0deg) saturate(2) contrast(1);
}

.unavailable-image:hover {
  filter: grayscale(0) sepia(100%) hue-rotate(0deg) saturate(2) contrast(1);
}



/* Estilos adicionales para el contenedor de los productos */
.cards-container {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}

.col-md-6,
.col-lg-4 {
    display: flex;
    justify-content: center;
}

.product:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product img {
    max-width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 1em;
    margin-bottom: 8px;
    color: #333;
}

.price-container {
    margin-bottom: 10px;
}

.old-price {
    text-decoration: line-through;
    font-size: 0.8em;
    color: #999;
    margin-right: 5px;
}

.new-price {
    font-size: 1.1em;
    color: #ff5722;
    font-weight: bold;
}

.btn {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    margin: 3px 0;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    font-size: 0.9em;
}

.btn:hover {
    background-color: #e64a19;
    transform: scale(1.03);
	
}

.btn-details {
    background-color: #f0f0f0;
    color: #333;
}

.btn-details:hover {
    background-color: #e0e0e0;
}
       .floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff5722;
    border-radius: 50%;
    padding: 15px;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: background-color 0.3s;
}
        .floating-cart:hover {
            background-color: #e64a19;
        }
        .cart-count {
            position: absolute;
            top: -5px;
            right: -5px;
            background: red;
            border-radius: 50%;
            color: white;
            padding: 2px 5px;
            font-size: 12px;
        }
		
		 .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
        .cart-item-info {
            flex-grow: 1;
        }
        .cart-item-actions {
            display: flex;
            align-items: center;
        }
        .cart-item-actions button {
            margin: 0 5px;
        }
        .cart-total {
            font-weight: bold;
            text-align: left;
            margin-top: 20px;
			font-size: 20px;
        }
        .modal-dialog {
			max-width: 500px;
			margin: auto;
			position: absolute;
			top: 0; /* Cambia el valor de top a 0 */
			left: 0;
			right: 0;
			transform: translate(0, 0); /* Agrega esta línea para centrar horizontalmente */
		}
		
		@media (max-width: 768px) {
		.modal-dialog {
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0, 0);
		}
		}
        .modal-header, .modal-footer {
            border: none;
        }
		
			.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 9999; /* Asegura que esté por encima de todos los elementos */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-width: 300px; /* Limita el ancho máximo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

.notification.show {
    opacity: 1;

}

.notification-success {
    background-color: #28a745;

}

.notification-error {
    background-color: #dc3545;
	
}

/* Añade un estilo para el botón de cerrar */
.notification .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
	
    background: none;
    border: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.notification .close-btn:hover {
    opacity: 1;
}

.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff5722;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.soportbtn {
    background: none;
    width: -webkit-fill-available;
    font-size: 20px;
    border: none;
	margin-bottom: 10px;
}
.soportbtn a:hover{
	color: gray;
	transition: opacity 1s;
}


/* Estilos para el navbar */
.navbar {
    background-color: #ff5722 !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    /* border: 1px solid transparent; */
    /* border-radius: .25rem; */
    transition: box-shadow .15s ease-in-out;
}
.navbar-light .navbar-toggler {
color: transparent;
border-color: transparent;
}

.place{
	color: #fff !important;
	margin: 12%;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
	padding: 5% 0 0 30%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler { 
border-color: transparent;
}

.navbar-toggler:focus:not(:focus-visible) {
border-color: transparent;
}

#modalBody {
  text-align: center;
}
#modalBody img {
    width: 50%;
    margin: 20px auto;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

#modalBody strong {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

#modalBody p {
  font-size: 14px;
  margin-bottom: 20px;
}

#userProfileIcon {
    margin: 0.1em;
    font-size: 2rem;
    color: white;
}

@media (max-width: 768px) {
    #userProfileIcon {
        text-decoration: none;
        position: absolute;
        top: -19px;
        right: 30px;
    }
}
	
button #userProfileIcon{
	border: none;
}

#userProfileIcon:hover{
	background: none;
	color: white;
}

/* Estilos para el botón de perfil en el navbar */
.navbar-nav.ms-auto .user-profile-icon {
    font-size: 2.5rem;
    color: white;
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1000;
}

.navbar-nav.ms-auto .user-profile-icon i {
    font-size: 2.5rem;
    color: white;
    border: none;
    background: transparent;
}

/* Estilos para el navbar */
.navbar {
    background-color: #ff5722 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
   
}

.contactSuport {
    outline: none;
    text-decoration: none;	
}

.contactSuport a:hover{
    color: white;
    text-decoration: none;	
}

.modal {
    position: fixed;
    top: -5px;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-backdrop.show {
  backdrop-filter: blur(5px);
  background-color: #333;
}

.modal-backdrop {
  transition: backdrop-filter 0.3s;
}

/*SWICH*/
		#switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 25px;
		}
        #switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }
		
		
		
        .slider:before {
			position: absolute;
			content: "";
			height: 17px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: .4s;
			border-radius: 50%;
			}
			
        input:checked + .slider {
            background-color: #ff5722;
        }
        input:checked + .slider:before {
            transform: translateX(26px);
        }
        .status {
            margin-top: 20px;
            font-size: 18px;
        }







/* Estilos para el modo oscuro */

body.dark-mode .nav-link{
    color: black;
}
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar {	

}

body.dark-mode .product {
    background-color: #444;
    color: #fff;
}

body.dark-mode h3 {
    color: white;
}

body.dark-mode .btn-details {
    background-color: #555;
    color: #fff;
}

body.dark-mode .modal-content {
    background-color: #444;
    color: #fff;
}

body.dark-mode .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

body.dark-mode .form-control {
    background-color: #555;
    color: #fff;
    border-color: #777;
}

body.dark-mode .form-control:focus {
    background-color: #666;
    color: #fff;
}

body.dark-mode .btn-secondary {
    background-color: #666;
    border-color: #777;
}

/* Estilos adicionales para mejorar la legibilidad */
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff !important;
    background-color: rgba(255,255,255,0.1);
}

body.dark-mode .navbar-light .navbar-nav .nav-link:hover,
body.dark-mode .navbar-light .navbar-nav .nav-link:focus {
    background-color: rgba(0,0,0,0.1);
}

body.dark-mode #userProfileModal .modal-content {
    background-color: #444;
    color: #fff;
}

body.dark-mode #userProfileModal .modal-header {
    border-bottom: 1px solid #555;
}

body.dark-mode #userProfileModal .modal-footer {
    border-top: 1px solid #555;
}



li .nav-item{
	width: auto;
}

input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 14px;
  font-family: helvetica;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  
  border-radius: 15%;
  padding: 19px 13px;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  border-radius: 15%;
  padding: 19px 13px;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}


@media (max-width: 300px) {
    .row {
        flex-direction: column;
    }
    .col-md-6, .col-lg-4 {
        flex-basis: 100%;
    }
    .product {
        margin-bottom: 20px;
    }
}

@media (max-width: 300px) {
    .product {
        width: 80%;
        margin: 20px auto;
    }
}


#userProfileModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

#userProfileModal.show {
    display: block;
}

#userProfileModal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

#userProfileModal .modal-header {
    border-bottom: 1px solid #888;
}

#userProfileModal .modal-footer {
    border-top: 1px solid #888;
}